extends layout

block content
    h1 Champion list
    br
    p All champions HERE!

    a(class='button', href='/champ1') Aatrox
    |
    |
    a(class='button', href='/champ2') Ahri
    |
    |
    a(class='button', href='/champ3') Ezreal
    |
    |
    a(class='button', href='/champ4') Caitlyn
    |
    |
    a(class='button', href='/champ5') Vayne
    |
    |
    a(class='button', href='/champ6') Xayah
    br
    br
    a(class='button', href='/') Back