extends layout

block content
    h1= champ5
    br
    p In this section we are going to speak about the #{champ5}.

    p #{champ5} is a 2015 champ release.

    br
    a(href="/champlist") Champion List
    |
    |
    a(class='button', href='/') Menu