extends layout

block content
    h1= champ2
    br
    p In this section we are going to speak about the #{champ2}.

    p #{champ2} is a 2015 champ release.

    br
    a(href="/champlist") Champion List
    br
    a(class='button', href='/') Menu