extends layout

block content
    h1= history
    br
    p In this section we are going to speak about the #{history}.

    p League of Legends, well known as LoL, the game created by Rito Gamesss, have been pre realease in 2008 and was at that time a new kind of video games: MOBA. It had around 25 champions playable.
